<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%msg%n%rEx</pattern>
			<immediateFlush>false</immediateFlush>
		</encoder>
	</appender>

	<appender name="REPO-FILE" class="ch.qos.logback.core.FileAppender">
        <file>abiquo.log</file>
		<append>true</append>
		<encoder>
			<pattern>%msg%n%rEx</pattern>
			<immediateFlush>true</immediateFlush>
		</encoder>
    </appender>

	<logger name="repo">
		<level value="INFO" />
		<appender-ref ref="REPO-FILE" />
	</logger>
	<logger name="abiquo" level="DEBUG" />
	<!-- Uncomment for logging HTTP requests and responses on failure -->
	<!-- <logger name="com.excilys.ebi.gatling.http.ahc.GatlingAsyncHandlerActor" level="DEBUG" /> -->
	<root>
		<level value="WARN" />
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>
