<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%msg%n%rEx</pattern>
			<immediateFlush>false</immediateFlush>
		</encoder>
	</appender>

	<appender name="REPO-FILE" class="ch.qos.logback.core.FileAppender">
        <file>abiquo.log</file>
		<append>true</append>
		<encoder>
			<pattern>%msg%n%rEx</pattern>
			<immediateFlush>true</immediateFlush>
		</encoder>
    </appender>

	<logger name="repo" level="INFO">
		<appender-ref ref="REPO-FILE" />
	</logger>
	<logger name="abiquo" level="DEBUG" />
	<!-- DEBUG for logging ONLY FAILED HTTP request and responses -->
	<!-- TRACE for logging ALL HTTP request and responses -->
	<logger name="com.excilys.ebi.gatling.http" level="DEBUG" />
	<logger name="com.excilys.ebi.gatling.core.action" level="WARN" />
	<logger name="com.excilys.ebi.gatling.http.action" level="WARN" />
	<root>
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
